* {
  font-family: "Montserrat", sans-serif, "Fraunces", serif;
  font-weight: 500px;
  font-size: 14px;
  color: var(--dark-grayish-blue);
  box-sizing: content-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 300px;
  background: var(--cream);
}

.card {
  background-color: var(--white);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  margin-top: 100px;
  /* margin-bottom: 300px; */
  width: 600px;
  height: 450px;
}

/* .product-img-wrap {
  float: left;
  position: relative;
  width: 300px;
  height: 300px;
} */

.product-photo-img {
  border-radius: 10px 0 0 10px;
  width: 300px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(images/image-product-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* темнее фон сделать  */
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 240px;
  padding: 35px 32px;
  border-radius: 20px;
}

.product-perfume {
  font-family: "Montserrat", sans-serif;
  font-weight: 500px;
  font-size: 12px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.product-title {
  font-family: "Fraunces", serif;
  font-size: 32px;
  line-height: 32px;
  color: var(--very-dark-blue);
  margin-bottom: 26px;
}

.product-description {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 29px;
}

.product-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.price-with-discount {
  font-family: "Fraunces", serif;
  font-size: 32px;
  color: var(--dark-cyan);
  margin-right: 21px;
}

.price-without-discount {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: line-through;
  font-size: 13px;
}

.button-add-to-cart {
  font-family: "Fraunces", serif;
  font-weight: 700;
  border: none;
  font: inherit;
  color: inherit;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 15px;
  border-radius: 7px;
  color: var(--white);
  background-color: var(--dark-cyan);
}

.button-icon-cart {
  background-color: var(--dark-cyan);
  margin-right: 10px;
}

.button-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--white);
  background-color: var(--dark-cyan);
}

/* -----subscription */

.attribution {
  background-color: var(--cream);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  background-color: var(--cream);
  color: hsl(228, 45%, 44%);
}
